@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Updock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Updock&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgba(0, 0, 0, 0.525);
  display: flex;
  padding: 7px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-radius: 0;
}

#logo {
  margin-left: 20px;
}
#logo h1 {
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
#logo span {
  color: aqua;
  font-family: "Caveat", cursive;
  font-size: 20px;
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

#wrapper a i,
span {
  transition: all 0.2s;
}
#wrapper i:hover,
a:hover span {
  color: rgb(141, 234, 255);
}

#wrapper .search1 button {
  cursor: pointer;
  transition: all 0.4s;
}
#wrapper .search1 button:hover {
  background-color: rgb(186, 255, 255);
}

#login {
  position: relative;
}
.system {
  margin-right: 0px;
}

.search {
  position: relative;
}
.search1 {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 20px;
  padding: 10px;
  margin-right: 40px;
}
.search1 i {
  font-size: 35px;
  color: rgb(255, 252, 252);
}
.search1 input {
  margin: 0 3px 0 10px;
  position: relative;
}

.search1 button,
input {
  font-size: 18px;
  border-radius: 15px;
  padding: 5px 5px;
  border: none;
}
#login button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
#home a,
#login i {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;
}
#home a i span {
  font-family: "Caveat", cursive;
  font-size: 35px;
}

#home {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
#home span {
  margin-right: 40px;
}

#login {
  display: flex;
}
#login i {
  font-size: 45px;
  margin: 0 5px;
}

#main {
  position: absolute;
  flex-wrap: wrap;
}
#main span {
  font-size: 30px;
  margin: 10px 40px;
  width: 100%;
}
#main div {
  display: flex;
  justify-content: center;
}
#main img {
  height: 500px;
  border-radius: 30px;
  margin: 40px 0;
}
#main h1 {
  display: flex;
  justify-content: center;
  margin: 220px 0 50px 0;
}
#menu {
  display: none;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  box-shadow: 0px 0px 15px;
  padding-top: 40px;
  width: 100%;
}
#foot1,
#foot2 {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
#foot10,
.foot211 {
  display: flex;
  align-items: center;
}
.foot211 p {
  width: 300px;
}
.foot211 {
  margin-right: -200px;
}
footer h4 {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  margin-right: -35px;
}
#foot10 span,
#foot21 .foot211 span {
  font-family: "Caveat", cursive;
  color: cyan;
  font-size: 15px;
}
#foot20 {
  margin-left: -170px;
}
#foot20 a i {
  font-size: 30px;
  margin-right: 10px;
  transition: all 0.3s;
}
#foot20 a:hover > i {
  transform: scale(1.3, 1.3);
  box-shadow: 0px 0px 7px;
  border-radius: 10px;
}
#foot20 .fb {
  color: rgb(0, 89, 255);
}
#foot20 .gm {
  color: black;
}
#foot20 .ybt {
  color: red;
}
@media (max-width: 1502px) {
  nav {
    width: 100%;
  }
}
@media (max-width: 1090px) {
  nav {
    width: 100%;
  }
  #logo {
    margin-left: 10px;
  }
  #logo h1 {
    font-size: 35px;
  }
  #logo span {
    font-size: 15px;
  }
  #wrapper {
    margin: 0 10px;
  }

  .search1 {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
  }
  .search1 i {
    font-size: 25px;
  }
  .search1 input {
    margin: 0 3px;
    padding: 3px 3px;
    width: 100px;
  }
  .search1 button {
    height: 30px;
  }
  .search1 button,
  input {
    font-size: 9px;
    border-radius: 5px;
    padding: 2px 2px;
    border: none;
  }

  #wrapper .search1 {
    display: flex;
    align-items: center;
  }
  #home a,
  #login i {
    display: none;
  }

  #menu {
    display: block;
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
  }
  #menu button {
    border: none;
    background-color: rgba(240, 248, 255, 0);
  }
  #menu i {
    color: rgb(255, 255, 255);
    font-size: 35px;
  }

  .menu2 a {
    margin: 15px 0;
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  .menu2 a i {
    transition: all 0.3s;
  }
  .menu2 a:hover i {
    color: black;
    margin: 0 10px;
  }
  .menu2 span {
    font-family: "Caveat", cursive;
    color: rgb(255, 255, 255);
    font-size: 35px;
  }
  .menu2 {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    left: -190px;
    background-color: rgba(0, 0, 0, 0.525);
    top: 82px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.4s;
    opacity: 0;
    margin-left: 245px;
  }
  .menu3 {
    opacity: 1;
    margin-left: -5px;
  }
}
@media (max-width: 737px) {
  nav {
    width: 95%;
  }
  #main img {
    height: 230px;
    border-radius: 30px;
    margin: 0;
  }
  footer {
    margin-top: 1150px;
    flex-direction: column;
  }
  #foot21 {
    display: flex;
    justify-content: center;
  }
  .foot211 {
    margin-top: 40px;
  }
  .foot211 h4,
  .foot211 {
    font-size: 25px;
  }
  .foot211 p,
  .foot211 span {
    font-size: 15px;
  }
  #foot20 {
    margin-left: -555px;
  }
}

.l1 {
  background-color: black;
}

.l1 nav {
  background-color: rgba(153, 153, 153, 0.525);
}
.l1 .sidebar {
  background-color: rgba(153, 153, 153, 0.525);
}
.l1 #main span,
.l1 #main h1 {
  color: aliceblue;
}

.l1 footer h4 {
  color: rgb(255, 255, 255);
}
.l1 footer p {
  color: rgb(255, 255, 255);
}
.l1 #foot10 span,
#foot21 .foot211 span {
  color: cyan;
}
.l1 footer {
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.l1 #foot20 .gm {
  color: rgb(255, 254, 254);
}
.light {
  display: none;
}

.dark {
  display: none;
}

.dark2 {
  display: block;
}
.light2 {
  display: block;
}
